* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lora, Georgia, serif;
    font-size: 1.2em;
    color: #7b0586;
    background: #ca84d0;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.4em;
    color: rgb(183, 209, 211);
    text-align: center;
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border: 5px solid rgba(134, 15, 189, 0.221);
    border-radius: 5.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(218, 100, 210);
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Lora,
        Georgia,
        serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0.5rem;
    background-color: #031f27dc;
    color: rgb(183, 209, 211);
    border: none;
    border-radius: .5rem;
    padding: 0.45rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #031f27dc;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #0b0b0b;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}