table {

    border: 10px solid rgb(62, 159, 192);
    letter-spacing: 2px;
}

th {
    border: 4px solid #c0b4b4;
    padding: 8px 102px;
    text-align: center;
}

td {
    border: 4px solid #c0b4b4;
    padding: 8px 102px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(212, 195, 195);
    color: white;
    font-weight: 700;
}